[x-cloak] {
    display: none;
}

html {
    font-size: 16px;
}

body[class] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    line-height: 1.6;
}

a[href]:not([tabindex="-1"]):focus,
area[href]:not([tabindex="-1"]):focus,
input:not([disabled]):not([tabindex="-1"]):not(.outline-none):focus,
select:not([disabled]):not([tabindex="-1"]):focus,
textarea:not([disabled]):not([tabindex="-1"]):focus,
button:not([disabled]):not([tabindex="-1"]):focus,
iframe:not([tabindex="-1"]):focus,
[tabindex]:not([tabindex="-1"]):focus,
[contentEditable="true"]:not([tabindex="-1"]):focus,
.forminator-consent:focus-within .forminator-checkbox-box {
    outline: auto 2px Highlight !important;
    outline: auto 5px -webkit-focus-ring-color !important;
}

.icon-tabler {
    width: 100%;
    height: auto;
}

.transition {
    transition: all 400ms var(--ease-out-expo);
}

img {
    width: 100%;
}

form label {
    margin-bottom: 0.25rem;
}

input[type="text"]:not([readonly]),
input[type="password"]:not([readonly]),
input[type="email"]:not([readonly]),
input[type="number"]:not([readonly]),
input[type="search"]:not([readonly]),
input[type="tel"]:not([readonly]),
input[type="url"]:not([readonly]),
select,
textarea {
    border: 0.05em solid var(--color-gray-900);
    padding: 0 1rem;
}

input[type="text"]:not([readonly]),
input[type="password"]:not([readonly]),
input[type="email"]:not([readonly]),
input[type="number"]:not([readonly]),
input[type="search"]:not([readonly]),
input[type="tel"]:not([readonly]),
input[type="url"]:not([readonly]),
select {
    height: 2.5rem;
}

textarea {
    padding: 1rem;
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
}


h1,
h2,
h3,
h4 {
    font-weight: 600;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Comment */

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment-list p a,
.comment-form p a {
    text-decoration: underline;
}

.comments-area .comment-respond {
    margin: 1.5rem 0;
}

.comment-list,
.comment-list ol.children {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.comment-list ol.children {
    padding-left: 1rem;
}

.comment-form,
.comment-form-author,
.comment-form-email,
.comment-form-url {
    display: flex;
    flex-direction: column;
}

.comment-form-cookies-consent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.comment-form .comment-form-comment {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.comment-form .form-submit {
    margin-top: 1rem;
}

.comment .comment-author {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.comment .comment-author img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    object-fit: cover;
    margin-right: 0.5rem;
}

.comment .comment-author cite {
    font-weight: 600;
}

.comment .comment-author cite,
.comment .comment-author .says {
    line-height: 1;
}

.comment .comment-meta {
    font-size: 0.875rem;
    margin-top: -1rem;
}

.comment .comment-meta .comment-metadata {
    padding-left: 3.5rem;
    margin-top: -1rem;
}

.comment .comment-meta,
.comment .comment-meta+p,
.comment .reply,
.comment .comment-content {}

.comment .comment-meta+p {
    margin-top: 1rem;
}

.comment .reply {
    margin-top: 1rem;
}

.comment .reply a {
    text-decoration: underline;
}

.comment #cancel-comment-reply-link {
    margin-left: 0.5rem;
    text-decoration: underline;
}

.comment .comment-content {
    padding-top: 1rem;
}


/* Single Post */

.single--post__tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.single--post__tags li a {
    color: var(--color-primary);
    text-decoration: underline;
}

/* Menu */

header nav.desktop>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav.desktop>ul li {
    display: inline-flex;
    align-items: center;
}

header nav.desktop ul li.menu-item-has-children {
    position: relative;
}

header nav.desktop ul.sub-menu {
    background: white;
    position: absolute;
    left: 0;
    top: 120%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
    border: 0.05em solid var(--color-gray-900);
    white-space: nowrap;
    text-align: left;
    transition: all 400ms var(--ease-out-expo);
    transform: translateY(1rem);
    opacity: 0;
    border-radius: 0 1rem 1rem 1rem;
    z-index: 1000;
}

header nav.desktop li.toggled>ul.sub-menu {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
}

header nav.desktop a:hover {
    text-decoration: underline;
}

header nav.desktop ul .menu-toggle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 1.6em;
    padding: 0.2em;
}


header nav.desktop li.toggled>.menu-toggle {
    transform: rotateX(180deg);
}

header nav ul a[aria-current="page"] {
    text-decoration: underline;
    font-weight: 600;
}

/* Menu > Mobile */

header nav.mobile>ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

header nav.mobile>ul li {
    display: inline-flex;
    align-items: center;
}

header nav.mobile ul li.menu-item-has-children {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

header nav.mobile ul.sub-menu {
    background: white;
    position: relative;
    margin-top: 0.5rem;
    visibility: hidden;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 0.05em solid var(--color-gray-900);
    white-space: nowrap;
    text-align: left;
    transition: all 400ms var(--ease-out-expo);
    transform: translateY(1rem);
    opacity: 0;
    border-radius: 0 1rem 1rem 1rem;
    z-index: 1000;
    width: 100%;
}

header nav.mobile li.toggled>ul.sub-menu {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
    display: flex;
}

header nav.mobile a:hover {
    text-decoration: underline;
}

header nav.mobile ul .menu-toggle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 1.6em;
    padding: 0.2em;
    transition: all 400ms var(--ease-out-expo);
}

header nav.mobile li.toggled>.menu-toggle {
    transform: rotateX(180deg);
}

/* Pagination */

.documentation_pagination ul.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    position: relative;
}

.documentation_pagination a.page-numbers,
.documentation_pagination span.page-numbers {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 0.25em;
}

.documentation_pagination a.page-numbers.next,
.documentation_pagination a.page-numbers.prev {
    width: auto;
    padding: 0.25em 0.75em;
    gap: 0.5em;
    color: var(--color-primary);
}

.documentation_pagination a.page-numbers.next {
    padding-right: 0;
}

.documentation_pagination a.page-numbers.prev {
    padding-left: 0;
}

.documentation_pagination .prev-item {
    left: 0;
    position: absolute;
}

.documentation_pagination .next-item {
    right: 0;
    position: absolute;
}

.documentation_pagination a.page-numbers.next svg,
.documentation_pagination a.page-numbers.prev svg {
    width: 1.2em;
    height: auto;
}

.documentation_pagination a.page-numbers:hover {
    background-color: var(--color-gray-100);
}

.documentation_pagination .page-numbers.current {
    background-color: var(--color-primary);
    color: #fff;
}

@media (max-width: 767px) {
    .documentation_pagination ul.page-numbers {
        flex-wrap: wrap;
        margin: 0;
    }

    .documentation_pagination .prev-item,
    .documentation_pagination .next-item {
        position: relative;
        width: 100%;
    }

}


/* Single Post */

.single_post__categories li:not(:last-child) a::after {
    content: ",";
}

.single_post__categories li a:hover {
    text-decoration: underline;
}

/* Embla */

.embla {
    --slide-size: 100%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    position: relative;
}

/* About Us */

.about-us--our-mission__items .icon-tabler {
    stroke-width: 0.025em;
}

/* Buttons */

.button,
input[type="submit"],
body #page .forminator-ui.forminator-design--default .forminator-button-submit {
    position: relative;
    background-color: var(--color-gray-100);
    color: inherit;
    font-weight: 600;
    font-size: 1em;
    padding: 0.8em 2.4em;
    border-radius: 0.25em;
    transition: all 400ms var(--ease-out-expo);
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline-offset: 0.3em;
}

.button--primary,
input[type="submit"],
body #page .forminator-ui.forminator-design--default .forminator-button-submit,
body #page .forminator-ui.forminator-design--default .forminator-button-submit:hover {
    background-color: var(--color-primary);
    color: #fff;
    border-color: var(--color-primary);
    border-width: 0.1em;
    border-style: solid;
}

.button--secondary {
    background-color: var(--color-gray-100);
    color: var(--color-gray-900);
}

.button--secondary:hover {
    background-color: var(--color-gray-200);
}

.button--compact {
    padding: 0.5em 1.2em;
}

.button--outline {
    border-width: 0.1em;
    border-style: solid;
    background-color: transparent;
    color: var(--color-primary);
}

.button--outline:hover {
    background-color: var(--color-primary);
    color: #fff;
}

/* Footer */

footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer nav ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
}

footer nav ul li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWNoZXZyb24tcmlnaHQiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iY3VycmVudENvbG9yIiBmaWxsPSJub25lIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIHN0cm9rZT0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSI+PC9wYXRoPjxwYXRoIGQ9Ik05IDZsNiA2bC02IDYiPjwvcGF0aD48L3N2Zz4=");
    background-size: cover;
}

footer nav ul li a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

footer nav ul li ul {
    display: none;
}

/* Forminator */

body #page .forminator-ui.forminator-design--default .forminator-input,
body #page .forminator-ui.forminator-design--default .forminator-input:hover,
body #page .forminator-ui.forminator-design--default .forminator-input:focus,
body #page .forminator-ui.forminator-design--default .forminator-input:active,
body #page .forminator-ui.forminator-design--default .forminator-textarea {
    background-color: white !important;
    border: 1px solid var(--color-dark);
    border-radius: 0px;
}

body #page .forminator-ui.forminator-design--default .forminator-label {
    color: var(--color-dark);
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0.2em;
}

body #page .forminator-ui.forminator-design--default .forminator-error-message {
    background-color: #fff;
    color: #b71c1c;
    padding: 0;
}

body .forminator-ui.forminator-design--default .forminator-input::-webkit-input-placeholder {
    color: #424242;
}

body #page .forminator-ui.forminator-design--default .forminator-select2+.forminator-select .selection .select2-selection--single[role="combobox"],
body #page .forminator-ui.forminator-design--default .forminator-select2+.forminator-select:hover .selection .select2-selection--single[role="combobox"] {
    background-color: transparent;
}

/* Toast */
.toast {
    position: fixed;
    z-index: 999;
    background-color: var(--color-gray-900);
    color: var(--color-gray-50);
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    transition: all 400ms var(--ease-out-expo);
    white-space: nowrap;
    font-size: 0.875em;
    gap: 0.5rem;
}

.toast.top-left {
    top: 1rem;
    left: 1rem;
}

.toast.top-right {
    top: 1rem;
    right: 1rem;
}

.toast.bottom-left {
    bottom: 1rem;
    left: 1rem;
}

.toast.bottom-right {
    bottom: 1rem;
    right: 1rem;
}

.toast button {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
    padding: 0.125em 0.5em;
    font-weight: 600;
    border-radius: 0.25em;
}

/* JTOC */
body .wpj-jtoc {
    width: 100%;
    background-color: #f6f6f6;
    border: 1px solid #cccccc;
    padding: 1.5rem 3rem;
    border-radius: 0.25em;
}

body .wpj-jtoc .wpj-jtoc--items li a {
    text-decoration: none;
}

body .wpj-jtoc .wpj-jtoc--items li a:hover {
    text-decoration: underline;
}

body .prose li *:first-child,
body .prose li *:last-child {
    margin-top: 0;
    margin-bottom: 0;
}

body .wpj-jtoc .wpj-jtoc--title {
    font-weight: bold;
}

body div:not(.wpj-jtoc--widget-floating)>.wpj-jtoc--toc {
    width: 100%;
}

body .wpj-jtoc li .wpj-jtoc--item-content,
body .wpj-jtoc li .wpj-jtoc--item-content a {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body .wpj-jtoc .wpj-jtoc--toc ol.wpj-jtoc--items {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Related Posts */

.crp_related {}

.crp_related ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 1em;
}

.crp_related>h2 {
    font-size: 1.5em;
}

.crp_related .crp_title {
    font-weight: 500;
}

.crp_related .crp_link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.crp_related .crp_link:hover {
    text-decoration: underline;
}

.crp_related .crp_excerpt {
    margin-top: 0.5em;
    display: block;
}

.crp_related .crp_link figure {
    flex-shrink: 0;
    width: 30%;
}

/* Page: Contact */

.contact__info a {
    color: var(--color-primary);
}

.contact__info a:hover {
    text-decoration: underline;
}

/* Flipcard */


.perspective-1000 {
    perspective: 1000px;
}

.preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.flipcard {
    width: 20%;
}

@media screen and (max-width: 768px) {
    .flipcard {
        width: 47%;
    }
}

.flipcard.flipped {
    transform: rotateY(-180deg);
}

.flipcard__back {
    transform: rotateY(180deg);
}

.flipcard h3::first-letter {
    color: #000;
}

/* AWSM Job Single */

.awsm-job-single-wrap {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2.5rem;
}

body .awsm-job-form h2 {
    margin-top: 0;
}

/*  */

body {
    font-family: Inter;
}

.number-enter-active {
    transition: opacity 0.3s all ease-in;
}

.number-start {
    opacity: 0;
    transform: translateY(-1em);
}

.number-end {
    opacity: 100;
    transform: translateY(0);
}

.aboutus {
    color: white;
    text-shadow:
        -1px -1px 0 #826030E5,
        1px -1px 0 #826030E5,
        -1px 1px 0 #826030E5,
        1px 1px 0 #826030E5;
}

.design {
    color: white;
    text-shadow:
        -2px -2px 0 #826030,
        2px -2px 0 #826030,
        -2px 2px 0 #826030,
        2px 2px 0 #826030;
}

.footer {
    background-image: url("../images/office_valle_footer_image.png");
}

/* Hero */

.home-hero__title {
    line-height: 1.2;
}

.home-hero__title em {
    font-style: normal;
    color: var(--color-primary);
}

/* How We Work */

.infinite-scrolling-text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}

.infinite-scrolling-text > div {
    animation: animate_text 50s linear infinite; /* The animation property */
}

.infinite-scrolling-text > div > span {
    margin: 0 0.5em;
}

@keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}

.how-we-work__card:hover .how-we-work__card__number {
    color: transparent;
    -webkit-text-stroke: 5px #fff;
    text-stroke: 5px #fff;
}

.text-border {
    color: transparent;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
}

.scroll {
    animation: scrollText 15s linear infinite;
}
@keyframes scrollText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Footer */

footer form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important; /* Change 'white' to your desired background color */
}

footer .footer__form form {
    position: relative;
    margin-top: 2rem;
}

footer .forminator-response-message:not(:empty) {
    position: fixed;
    left: 2em;
    bottom: 2em;
    background-color: var(--color-gray-100);
    border: 0.05em solid var(--color-gray-900);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: var(--color-gray-900);
    font-size: 0.875em;
    font-weight: 600;
    z-index: 1000;
}

footer .footer__form .forminator-field-email input {
    width: 100%;
    height: 4rem;
    border-radius: 0.75em;
    border: 0.1em solid var(--color-primary);
}

footer .footer__form .forminator-label {
    position: absolute;
    left: 1em;
    top: 2rem;
    transform: translateY(-50%);
    color: var(--color-primary);
    display: inline-flex;
    background-color: #fff;
    padding: 0.25em;
    transform-origin: left;
    transition: all 400ms var(--ease-out-expo);
}

footer .footer__form .forminator-label.floating {
    transform: translate(0, -3em);
}

footer .footer__form .forminator-error-message {
    font-size: 0.875em;
    font-weight: 600;
    margin-top: 0.5em;
    display: inline-flex;
}

footer .footer__form .forminator-button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.5em;
    padding: 0.5em;
    top: 2rem;
    transform: translateY(-50%);
    color: var(--color-primary);
    height: 3rem;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 700;
    transition: all 400ms var(--ease-out-expo);
}

footer .footer__form .forminator-button-submit:hover {
    background-color: var(--color-primary);
    color: #fff;
}


/* Prose */

.prose {
    color: var(--color-dark);
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    font-weight: 600;
}

.prose h1 {
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
}

.prose h2 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
}

.prose h3 {
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
}

.prose h4 {
    font-size: 1.1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
}

.prose h5 {
    font-size: 1em;
    margin-top: 1.25em;
    margin-bottom: 0.4em;
    line-height: 1.4;
}

.prose h6 {
    font-size: 0.9em;
    margin-top: 1.1em;
    margin-bottom: 0.25em;
    line-height: 1.3;
}

.prose p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.prose video {
    margin-top: 2em;
    margin-bottom: 2em;
}

.prose figure {
    margin-top: 2em;
    margin-bottom: 2em;
}

.prose figcaption {
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em;
}

.prose a {
    color: var(--color-primary-darker);
    text-decoration: underline;
    word-break: break-all;
}

.prose strong {
    font-weight: 600;
}

.prose strong {
    font-weight: 600;
}

.prose ol {
    list-style-type: decimal;
    padding-left: 1.625em;
}

.prose ol ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.prose hr {
    border-top: 0.1em solid rgba(0, 0, 0, 0.05);
    margin-top: 3em;
    margin-bottom: 3em;
}

.prose pre {
    color: #fff;
    background-color: var(--color-dark);
    overflow-x: auto;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding-top: 0.8571429em;
    padding-right: 1.1428571em;
    padding-bottom: 0.8571429em;
    padding-left: 1.1428571em;
}

.prose code {
    overflow-x: auto;
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--color-gray-100);
}

.prose code {
    font-weight: 600;
    font-size: 0.875em;
}

.prose code::before {
    content: none;
}

.prose code::after {
    content: none;
}

.prose code::before {
    content: "`";
}

.prose code::after {
    content: "`";
}

a .prose code {
    color: var(--color-primary);
}

.prose ol {
    list-style-type: decimal;
    padding-left: 1.625em;
}

.prose ol[type="A"] {
    list-style-type: upper-alpha;
}

.prose ol[type="a"] {
    list-style-type: lower-alpha;
}

.prose ol[type="a"] {
    list-style-type: lower-alpha;
}

.prose ol[type="I"] {
    list-style-type: upper-roman;
}

.prose ol[type="i"] {
    list-style-type: lower-roman;
}

.prose ol[type="1"] {
    list-style-type: decimal;
}

.prose ol ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.prose li {
    margin: 0.5em 0;
    padding-left: 0.375em;
}

.prose li p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.prose li p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.prose li *:first-child {
    margin-top: 1.25em;
}

.prose li *:last-child {
    margin-bottom: 1.25em;
}

.prose ol>li::marker {
    font-weight: 400;
    color: #757575;
}

.prose ul {
    list-style-type: disc;
    padding-left: 1.625em;
}

.prose ul ul {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.prose ul li {
    margin: 0.5em 0;
    padding-left: 0.375em;
}

.prose ul li p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.prose li *:first-child {
    margin-top: 1.25em;
}

.prose li *:last-child {
    margin-bottom: 1.25em;
}

.prose ul>li::marker {
    font-weight: 400;
    color: #757575;
    font-size: 1em;
}

.prose hr {
    border-top: 0.1em solid rgba(0, 0, 0, 0.05);
    margin-top: 3em;
    margin-bottom: 3em;
}

.prose pre {
    color: #fff;
    background-color: var(--color-dark);
    overflow-x: auto;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding-top: 0.8571429em;
    padding-right: 1.1428571em;
    padding-bottom: 0.8571429em;
    padding-left: 1.1428571em;
}

.prose pre code {
    overflow-x: auto;
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
}

.prose pre code::before {
    content: none;
}

.prose pre code::after {
    content: none;
}

.prose table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    text-align: left;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
}

.prose table thead {
    border-bottom: 0.05em solid rgba(0, 0, 0, 0.1);
    text-indent: 0;
}

.prose table thead th {
    color: var(--color-dark);
    vertical-align: bottom;
    font-weight: 600;
    padding-right: 0.6em;
    padding-bottom: 0.8em;
    padding-left: 0;
}

.prose table thead tr {
    border-bottom: 0.05em solid rgba(0, 0, 0, 0.1);
}

.prose table thead tr:last-child {
    border-bottom: 0;
}

.prose table tbody td {
    vertical-align: baseline;
    padding: 0.8em 0.6em;
    padding-left: 0;
}

.prose table tbody tr {
    border-bottom: 0.05em solid rgba(0, 0, 0, 0.1);
}

.prose table tbody tr:last-child {
    border-bottom: 0;
}

.prose dl {
    display: flex;
    flex-flow: row wrap;
    border: 0.1em solid rgba(0, 0, 0, 0.1);
    padding: 1rem 0 0 0;
}

.prose dt {
    flex-basis: 20%;
    padding: 0 1rem 1rem 1rem;
    color: var(--color-dark);
    font-weight: 600;
}

.prose dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
}

/* MVP.css v1.14 - https://github.com/andybrewer/mvp */

:root {
    --active-brightness: 0.85;
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --color-accent: #118bee15;
    --color-bg: #fff;
    --color-bg-secondary: #e9e9e9;
    --color-link: #118bee;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #000;
    --color-text-secondary: #999;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

hr {
    background-color: var(--color-bg-secondary);
    border: none;
    height: 1px;
    margin: 4rem 0;
    width: 100%;
}

section img,
article img {
    max-width: 100%;
}

section pre {
    overflow: auto;
}

[hidden] {
    display: none;
}

/* Typography */
code,
samp {
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    color: var(--color-text);
    display: inline-block;
    margin: 0 0.1rem;
    padding: 0 0.5rem;
}

details {
    margin: 1.3rem 0;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

mark {
    padding: 0.1rem;
}

small {
    color: var(--color-text-secondary);
}

sup {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    color: var(--color-bg);
    font-size: xx-small;
    font-weight: bold;
    margin: 0.2rem;
    padding: 0.2rem 0.3rem;
    position: relative;
    top: -2px;
}

a em,
a i {
    border: 2px solid var(--color-link);
    border-radius: var(--border-radius);
    color: var(--color-link);
    display: inline-block;
    padding: 1rem 2rem;
}

article aside a {
    color: var(--color-secondary);
}

/* Images */
figure {
    margin: 0;
    padding: 0;
}

figure img {
    max-width: 100%;
}

figure figcaption {
    color: var(--color-text-secondary);
}

/* Forms */
button:disabled,
input:disabled {
    background: var(--color-bg-secondary);
    border-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    cursor: not-allowed;
}

button[disabled]:hover,
input[type="submit"][disabled]:hover {
    filter: none;
}

input,
label,
select,
textarea {
    display: block;
    font-size: inherit;
    max-width: var(--width-card-wide);
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    display: inline-block;
    font-weight: normal;
    position: relative;
    top: 1px;
}

input[type="range"] {
    padding: 0.4rem 0;
}

input[readonly],
textarea[readonly] {
    border-color: var(--color-gray-400);
    background-color: var(--color-gray-100);
}

label {
    font-weight: bold;
    margin-bottom: 0.2rem;
}

/* Popups */
dialog {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 999;
}

/* Quotes */
blockquote {
    background-color: var(--color-primary-100);
    display: block;
    line-height: var(--line-height);
    margin: 1rem auto;
    padding: 1.5rem 1rem;
    text-align: center;
    width: 100%;
    border-radius: 1.25rem;
    font-style: italic;
}

blockquote footer {
    color: var(--color-text-secondary);
    display: block;
    font-size: small;
    line-height: var(--line-height);
    padding: 1.5rem 0;
}