[x-cloak] {
    display: none;
}

html {
    font-size: 16px;
}

body[class] {
    font-family: "Inter";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    line-height: 1.6;
}

a[href]:not([tabindex="-1"]):focus,
area[href]:not([tabindex="-1"]):focus,
input:not([disabled]):not([tabindex="-1"]):not(.outline-none):focus,
select:not([disabled]):not([tabindex="-1"]):focus,
textarea:not([disabled]):not([tabindex="-1"]):focus,
button:not([disabled]):not([tabindex="-1"]):focus,
iframe:not([tabindex="-1"]):focus,
[tabindex]:not([tabindex="-1"]):focus,
[contentEditable="true"]:not([tabindex="-1"]):focus,
.forminator-consent:focus-within .forminator-checkbox-box {
    outline: auto 2px Highlight !important;
    outline: auto 5px -webkit-focus-ring-color !important;
}

.icon-tabler {
    width: 100%;
    height: auto;
}

.transition {
    transition: all 400ms var(--ease-out-expo);
}

img {
    width: 100%;
}

form label {
    margin-bottom: 0.25rem;
}

input[type="text"]:not([readonly]),
input[type="password"]:not([readonly]),
input[type="email"]:not([readonly]),
input[type="number"]:not([readonly]),
input[type="search"]:not([readonly]),
input[type="tel"]:not([readonly]),
input[type="url"]:not([readonly]),
select,
textarea {
    border: 0.05em solid var(--color-gray-900);
    padding: 0 1rem;
}

input[type="text"]:not([readonly]),
input[type="password"]:not([readonly]),
input[type="email"]:not([readonly]),
input[type="number"]:not([readonly]),
input[type="search"]:not([readonly]),
input[type="tel"]:not([readonly]),
input[type="url"]:not([readonly]),
select {
    height: 2.5rem;
}

textarea {
    padding: 1rem;
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
}

h1, h2 {
    font-family: "EB Garamond";
    font-weight: 400;
}

.prose h1,
.prose h2 {
    font-family: "Inter";
    font-weight: 600;
}

h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Comment */

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment-list p a,
.comment-form p a {
    text-decoration: underline;
}

.comments-area .comment-respond {
    margin: 1.5rem 0;
}

.comment-list,
.comment-list ol.children {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.comment-list ol.children {
    padding-left: 1rem;
}

.comment-form,
.comment-form-author,
.comment-form-email,
.comment-form-url {
    display: flex;
    flex-direction: column;
}

.comment-form-cookies-consent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.comment-form .comment-form-comment {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.comment-form .form-submit {
    margin-top: 1rem;
}

.comment .comment-author {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.comment .comment-author img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    object-fit: cover;
    margin-right: 0.5rem;
}

.comment .comment-author cite {
    font-weight: 600;
}

.comment .comment-author cite,
.comment .comment-author .says {
    line-height: 1;
}

.comment .comment-meta {
    font-size: 0.875rem;
    margin-top: -1rem;
}

.comment .comment-meta .comment-metadata {
    padding-left: 3.5rem;
    margin-top: -1rem;
}

.comment .comment-meta,
.comment .comment-meta+p,
.comment .reply,
.comment .comment-content {}

.comment .comment-meta+p {
    margin-top: 1rem;
}

.comment .reply {
    margin-top: 1rem;
}

.comment .reply a {
    text-decoration: underline;
}

.comment #cancel-comment-reply-link {
    margin-left: 0.5rem;
    text-decoration: underline;
}

.comment .comment-content {
    padding-top: 1rem;
}


/* Single Post */

.single--post__tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.single--post__tags li a {
    color: var(--color-primary);
    text-decoration: underline;
}

/* Menu */

header nav.desktop>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav.desktop>ul li {
    display: inline-flex;
    align-items: center;
}

header nav.desktop ul li.menu-item-has-children {
    position: relative;
}

header nav.desktop ul.sub-menu {
    background: white;
    position: absolute;
    left: 0;
    top: 120%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
    border: 0.05em solid var(--color-gray-900);
    white-space: nowrap;
    text-align: left;
    transition: all 400ms var(--ease-out-expo);
    transform: translateY(1rem);
    opacity: 0;
    border-radius: 0 1rem 1rem 1rem;
    z-index: 1000;
}

header nav.desktop li.toggled>ul.sub-menu {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
}

header nav.desktop a:hover {
    text-decoration: underline;
}

header nav.desktop ul .menu-toggle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 1.6em;
    padding: 0.2em;
}


header nav.desktop li.toggled>.menu-toggle {
    transform: rotateX(180deg);
}

header nav ul a[aria-current="page"] {
    text-decoration: underline;
    font-weight: 600;
}

/* Menu > Mobile */

header nav.mobile>ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

header nav.mobile>ul li {
    display: inline-flex;
    align-items: center;
}

header nav.mobile ul li.menu-item-has-children {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

header nav.mobile ul.sub-menu {
    background: white;
    position: relative;
    margin-top: 0.5rem;
    visibility: hidden;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 0.05em solid var(--color-gray-900);
    white-space: nowrap;
    text-align: left;
    transition: all 400ms var(--ease-out-expo);
    transform: translateY(1rem);
    opacity: 0;
    border-radius: 0 1rem 1rem 1rem;
    z-index: 1000;
    width: 100%;
}

header nav.mobile li.toggled>ul.sub-menu {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
    display: flex;
}

header nav.mobile a:hover {
    text-decoration: underline;
}

header nav.mobile ul .menu-toggle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 1.6em;
    padding: 0.2em;
    transition: all 400ms var(--ease-out-expo);
}

header nav.mobile li.toggled>.menu-toggle {
    transform: rotateX(180deg);
}

/* Pagination */

.documentation_pagination ul.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    position: relative;
}

.documentation_pagination a.page-numbers,
.documentation_pagination span.page-numbers {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 0.25em;
}

.documentation_pagination a.page-numbers.next,
.documentation_pagination a.page-numbers.prev {
    width: auto;
    padding: 0.25em 0.75em;
    gap: 0.5em;
    color: var(--color-primary);
}

.documentation_pagination a.page-numbers.next {
    padding-right: 0;
}

.documentation_pagination a.page-numbers.prev {
    padding-left: 0;
}

.documentation_pagination .prev-item {
    left: 0;
    position: absolute;
}

.documentation_pagination .next-item {
    right: 0;
    position: absolute;
}

.documentation_pagination a.page-numbers.next svg,
.documentation_pagination a.page-numbers.prev svg {
    width: 1.2em;
    height: auto;
}

.documentation_pagination a.page-numbers:hover {
    background-color: var(--color-gray-100);
}

.documentation_pagination .page-numbers.current {
    background-color: var(--color-primary);
    color: #fff;
}

@media (max-width: 767px) {
    .documentation_pagination ul.page-numbers {
        flex-wrap: wrap;
        margin: 0;
    }

    .documentation_pagination .prev-item,
    .documentation_pagination .next-item {
        position: relative;
        width: 100%;
    }

}

/* Embla */

.embla {
    --slide-size: 100%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    position: relative;
}


/* Breadcrumb */

.documentation_breadcrumb {
    color: var(--color-gray-700);
    font-weight: 500;
}

.documentation_breadcrumb a {
    color: var(--color-primary);
}


.documentation_breadcrumb svg {
    width: 1em;
    height: 1em;
    margin: 0 0.5rem;
}

.documentation_breadcrumb ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.documentation_breadcrumb li {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.documentation_breadcrumb &.trail-end {
    color: color(text);
}


/* TOC */

.documentation_toc h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1em;
}

.documentation_toc ul ul {
    padding-left: 1rem;
    border-left: 0.1em dashed var(--color-gray-300);
}

.documentation_toc ul a {
    width: 100%;
    border-radius: 9999px;
    display: inline-flex;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0.25rem 0;
}

.documentation_toc ul a:hover,
.documentation_toc ul a.active {
    color: var(--color-primary);
    text-decoration: underline;
}

.documentation_toc ul a:target {
    color: var(--color-primary);
    font-weight: 600;
}


/* Footer */

footer form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    /* Change 'white' to your desired background color */
}

footer .footer__form form {
    position: relative;
    margin-top: 2rem;
}

footer .forminator-response-message:not(:empty) {
    position: fixed;
    left: 2em;
    bottom: 2em;
    background-color: var(--color-gray-100);
    border: 0.05em solid var(--color-gray-900);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: var(--color-gray-900);
    font-size: 0.875em;
    font-weight: 600;
    z-index: 1000;
}

footer .footer__form .forminator-field-email input {
    width: 100%;
    height: 4rem;
    border-radius: 0.75em;
    border: 0.1em solid var(--color-primary);
}

footer .footer__form .forminator-label {
    position: absolute;
    left: 1em;
    top: 2rem;
    transform: translateY(-50%);
    color: var(--color-primary);
    display: inline-flex;
    background-color: #fff;
    padding: 0.25em;
    transform-origin: left;
    transition: all 400ms var(--ease-out-expo);
}

footer .footer__form .forminator-label.floating {
    transform: translate(0, -3em);
}

footer .footer__form .forminator-error-message {
    font-size: 0.875em;
    font-weight: 600;
    margin-top: 0.5em;
    display: inline-flex;
}

footer .footer__form .forminator-button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.5em;
    padding: 0.5em;
    top: 2rem;
    transform: translateY(-50%);
    color: var(--color-primary);
    height: 3rem;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 700;
    transition: all 400ms var(--ease-out-expo);
}

footer .footer__form .forminator-button-submit:hover {
    background-color: var(--color-primary);
    color: #fff;
}