[x-cloak] {
    display: none;
}

html {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14.4px;
    }
}

body[class] {
    font-family: "Open Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
    line-height: 1.6;
}

a[href]:not([tabindex="-1"]):focus,
area[href]:not([tabindex="-1"]):focus,
input:not([disabled]):not([tabindex="-1"]):not(.outline-none):focus,
select:not([disabled]):not([tabindex="-1"]):focus,
textarea:not([disabled]):not([tabindex="-1"]):focus,
button:not([disabled]):not([tabindex="-1"]):focus,
iframe:not([tabindex="-1"]):focus,
[tabindex]:not([tabindex="-1"]):focus,
[contentEditable="true"]:not([tabindex="-1"]):focus,
.forminator-consent:focus-within .forminator-checkbox-box {
    outline: auto 2px Highlight !important;
    outline: auto 5px -webkit-focus-ring-color !important;
}

.icon-tabler {
    width: 100%;
    height: auto;
}

.transition {
    transition: all 400ms var(--ease-out-expo);
}

img {
    width: 100%;
}

form label {
    margin-bottom: 0.25rem;
}

input[type="text"]:not([readonly]),
input[type="password"]:not([readonly]),
input[type="email"]:not([readonly]),
input[type="number"]:not([readonly]),
input[type="search"]:not([readonly]),
input[type="tel"]:not([readonly]),
input[type="url"]:not([readonly]),
select,
select,
textarea {
    color: var(--color-frost-1000);
    background-color: transparent;
    border: 0.05em solid var(--color-frost-900);
    padding: 0 1rem;
}

select option {
    background-color: var(--color-frost-0);
    color: var(--color-frost-1000);
}

input[type="text"]:not([readonly]),
input[type="password"]:not([readonly]),
input[type="email"]:not([readonly]),
input[type="number"]:not([readonly]),
input[type="search"]:not([readonly]),
input[type="tel"]:not([readonly]),
input[type="url"]:not([readonly]),
select {
    height: 2.5rem;
}

textarea {
    padding: 1rem;
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
}

h1,
h2 {
    font-weight: 600;
}

h3,
h4 {
    font-weight: 600;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

kbd {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-frost-50);
    border: 0.1em solid var(--color-frost-300);
    border-radius: 0.5em;
    padding: 0.25em 1em;
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--color-frost-600);
}

kbd:has(svg) {
    padding: 0.5rem;
}

kbd svg.icon-tabler {
    flex-shrink: 0;
    width: 0.875em;
    height: auto;
}

.scrollbar {
    scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
}

.scrollbar::-webkit-scrollbar-track {
    background-color: var(--color-frost-0);
}

.scrollbar::-webkit-scrollbar-thumb {
}

[data-simplebar]::-webkit-scrollbar {
    display: none;
}

.x-container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

@media screen and (max-width: 1024px) {
    .x-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .x-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
 

/* Buttons */

.action-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 400ms var(--ease-out-expo);
    border: 0.05em solid var(--color-frost-300);
    background-color: var(--color-frost-50);
    gap: 0.5em;
}

.action-button svg {
    width: 1.2em;
    height: auto;
}

/* Single Post */

.single--post__tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.single--post__tags li a {
    color: var(--color-primary);
    text-decoration: underline;
}

/* Menu */

header nav.desktop>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

header nav.desktop>ul li {
    display: inline-flex;
    align-items: center;
}

header nav.desktop > ul > li {
    font-size: 1rem;
}

header nav.desktop ul li.menu-item-has-children {
    position: relative;
}

header nav.desktop ul.sub-menu {
    background: white;
    position: absolute;
    left: 0;
    top: 120%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
    border: 0.05em solid var(--color-frost-900);
    white-space: nowrap;
    text-align: left;
    transition: all 400ms var(--ease-out-expo);
    transform: translateY(1rem);
    opacity: 0;
    border-radius: 0 1rem 1rem 1rem;
    z-index: 1000;
}

header nav.desktop li.toggled>ul.sub-menu {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
}

header nav.desktop a:hover {
    text-decoration: underline;
}

header nav.desktop ul .menu-toggle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 1.6em;
    padding: 0.2em;
}


header nav.desktop li.toggled>.menu-toggle {
    transform: rotateX(180deg);
}

header nav ul a[aria-current="page"] {
    text-decoration: underline;
}

/* Menu > Mobile */

header nav.mobile>ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

header nav.mobile>ul li {
    display: inline-flex;
    align-items: center;
}

header nav.mobile ul li.menu-item-has-children {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

header nav.mobile ul.sub-menu {
    background: white;
    position: relative;
    margin-top: 0.5rem;
    visibility: hidden;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 0.05em solid var(--color-frost-900);
    white-space: nowrap;
    text-align: left;
    transition: all 400ms var(--ease-out-expo);
    transform: translateY(1rem);
    opacity: 0;
    border-radius: 0 1rem 1rem 1rem;
    z-index: 1000;
    width: 100%;
}

header nav.mobile li.toggled>ul.sub-menu {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
    display: flex;
}

header nav.mobile a:hover {
    text-decoration: underline;
}

header nav.mobile ul .menu-toggle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 1.6em;
    padding: 0.2em;
    transition: all 400ms var(--ease-out-expo);
}

header nav.mobile li.toggled>.menu-toggle {
    transform: rotateX(180deg);
}

/* Menu > Secondary */

nav.desktop--secondary > ul > li > a {
    font-size: 0.875rem;
    padding: 0.25rem 0.75rem;
    display: inline-block;
}

nav.desktop--secondary > ul > li > a:hover {
    background-color: var(--color-frost-50);
}

nav.desktop--secondary > ul > li.current-menu-item > a {
    background-color: var(--color-frost-1000);
    color: var(--color-frost-0);
}

/* Pagination */

.documentation_pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.documentation_pagination ul.page-numbers {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    position: relative;
    width: auto;
    border: 0.05rem solid var(--color-frost-200);
    padding: 0.5rem;
    background-color: var(--color-frost-0);

}

.documentation_pagination a.page-numbers {
    color: var(--color-frost-1000);
}

.documentation_pagination a.page-numbers,
.documentation_pagination span.page-numbers {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.documentation_pagination a.page-numbers.next,
.documentation_pagination a.page-numbers.prev {
    color: var(--color-frost-1000);
}

.documentation_pagination a.page-numbers.next svg,
.documentation_pagination a.page-numbers.prev svg {
    width: 1.2em;
    height: auto;
}

.documentation_pagination a.page-numbers:hover {
    background-color: var(--color-frost-100);
}

.documentation_pagination .page-numbers.current {
    background-color: var(--color-frost-1000);
    color: var(--color-frost-0);
}

@media (max-width: 767px) {
    .documentation_pagination ul.page-numbers {
        flex-wrap: wrap;
        margin: 0;
    }

    .documentation_pagination .prev-item,
    .documentation_pagination .next-item {
        position: relative;
        width: 100%;
    }

}

/* Embla */

.embla {
    --slide-size: 100%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    position: relative;
}


/* Breadcrumb */

.documentation_breadcrumb {
    color: var(--color-frost-700);
    font-size: 0.875rem;
    font-weight: 500;
}

.documentation_breadcrumb a:hover {
    text-decoration: underline;
}


.documentation_breadcrumb svg {
    width: 1em;
    height: 1em;
    margin: 0 0.5rem;
}

.documentation_breadcrumb ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.1em;
}

.documentation_breadcrumb li {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.documentation_breadcrumb &.trail-end {
    color: color(text);
}


/* TOC */
.documentation_toc ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.documentation_toc h2 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
}

.documentation_toc ul ul {
    padding-left: 1rem;
    border-left: 0.1em dashed var(--color-frost-300);
}

.documentation_toc ul a {
    width: 100%;
    border-radius: 9999px;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0.25rem 0;
}

.documentation_toc ul a:hover,
.documentation_toc ul a.active {
    text-decoration: underline;
}

.documentation_toc ul a:target {
    font-weight: 600;
}


/* Blog Sidebar */

.documentation_blog__sidebar .widget-area {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.documentation_blog__sidebar .widget-area>section.widget {
    border: 0.05rem solid var(--color-frost-300);
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.popular-posts .wpp-cards li {
    background-color: var(--color-frost-50);
    color: var(--color-frost-800);
    border: 0.1rem solid var(--color-frost-300);
}

.widget_tag_cloud .tag-cloud-link {
    font-weight: 700;
}



/* Comment */

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment-list p a,
.comment-form p a {
    text-decoration: underline;
}

.comment-list,
.comment-list ol.children {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 4rem;
}

.comment-list ol.children {
    padding-left: 1rem;
}

.comment-form,
.comment-form-author,
.comment-form-email,
.comment-form-url {
    display: flex;
    flex-direction: column;
}

.comment-form-cookies-consent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.comment-form .comment-form-comment {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.comment-form .form-submit {
    margin-top: 1rem;
}

.comment .comment-author {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.comment .comment-author img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    object-fit: cover;
    margin-right: 0.5rem;
}

.comment .comment-author cite {
    font-weight: 600;
}

.comment .comment-author cite,
.comment .comment-author .says {
    line-height: 1;
}

.comment .comment-meta {
    font-size: 0.875rem;
    margin-top: -1rem;
}

.comment .comment-meta .comment-metadata {
    padding-left: 3.5rem;
    margin-top: -1rem;
}

.comment .comment-meta,
.comment .comment-meta+p,
.comment .reply,
.comment .comment-content {}

.comment .comment-meta+p {
    margin-top: 1rem;
}

.comment .reply {
    margin-top: 1rem;
}

.comment .reply a {
    text-decoration: underline;
}

.comment #cancel-comment-reply-link {
    margin-left: 0.5rem;
    text-decoration: underline;
}

.comments-area {
    background-color: var(--color-frost-0);
    padding: 2rem;
    border: 0.05em solid var(--color-frost-300);
    width: 100%;
}

.comment-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.comment-form select,
.comment-form textarea {
    border: 0.05em solid var(--color-frost-300);
    border-radius: 0.5em;
    background-color: var(--color-frost-0);
    width: 100%;
}

.comment-form label {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.comment-form [type='submit'] {
    background-color: var(--color-frost-1000);
    color: var(--color-frost-0);
    padding: 0.75em 1.5em;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5em;
}

.logged-in-as {
    font-size: 0.875rem;
    margin-top: 0.5em;
}

/* Footer */

footer form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    /* Change 'white' to your desired background color */
}

footer .footer__form form {
    position: relative;
    margin-top: 2rem;
}

footer .forminator-response-message:not(:empty) {
    position: fixed;
    left: 2em;
    bottom: 2em;
    background-color: var(--color-frost-100);
    border: 0.05em solid var(--color-frost-900);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: var(--color-frost-900);
    font-size: 0.875em;
    font-weight: 600;
    z-index: 1000;
}

footer .footer__form .forminator-field-email input {
    width: 100%;
    height: 4rem;
    border-radius: 0.75em;
    border: 0.1em solid var(--color-primary);
}

footer .footer__form .forminator-label {
    position: absolute;
    left: 1em;
    top: 2rem;
    transform: translateY(-50%);
    color: var(--color-primary);
    display: inline-flex;
    background-color: #fff;
    padding: 0.25em;
    transform-origin: left;
    transition: all 400ms var(--ease-out-expo);
}

footer .footer__form .forminator-label.floating {
    transform: translate(0, -3em);
}

footer .footer__form .forminator-error-message {
    font-size: 0.875em;
    font-weight: 600;
    margin-top: 0.5em;
    display: inline-flex;
}

footer .footer__form .forminator-button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.5em;
    padding: 0.5em;
    top: 2rem;
    transform: translateY(-50%);
    color: var(--color-primary);
    height: 3rem;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 700;
    transition: all 400ms var(--ease-out-expo);
}

footer .footer__form .forminator-button-submit:hover {
    background-color: var(--color-primary);
    color: #fff;
}


/* Fast Fuzzy Search */
.fast-fuzzy-search--newspaper .fast-fuzzy-search__field {
    display: flex;
    height: 3rem;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-frost-0);
    border-bottom: 1px solid var(--color-frost-300);
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__input::-moz-placeholder {
    color: var(--color-frost-1000);
    font-size: 0.875rem;
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__input,
.fast-fuzzy-search--newspaper .fast-fuzzy-search__input::placeholder {
    color: var(--color-frost-1000) !important;
    font-size: 0.875rem;
}

.fast-fuzzy-search--newspaper[data-has-query="true"] .fast-fuzzy-search__field {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__icon {
    display: inline-flex;
    height: 100% !important;
    width: 3rem !important;
    align-items: center;
    justify-content: center;
    --tw-text-opacity: 1;
    color: rgb(64 64 64 / var(--tw-text-opacity, 1));
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__clear button {
    margin: 0px !important;
    display: inline-flex;
    height: 1.5rem !important;
    width: 1.5rem !important;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border-style: none;
    background-color: var(--color-frost-100);
    padding: 0.25rem !important;
    color: var(--color-frost-700);
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__clear button:hover {
    background-color: var(--color-frost-200);
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__post-types {
    border-bottom: 1px solid var(--color-frost-300);
    background-color: var(--color-frost-0);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-frost-700);
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__chip-button {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 9999px;
    border: 1px solid var(--color-frost-300);
    background-color: var(--color-frost-0);
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem !important;
    line-height: 1.25rem !important;
    font-weight: bold;
    color: var(--color-frost-700);
    text-decoration-line: none;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__chip-button:hover {
    background-color: var(--color-frost-100);
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__results {
    margin: 0px;
    height: 24rem;
    width: 100%;
    flex-grow: 1;
    list-style-type: none;
    overflow-y: scroll;
    background-color: transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__panel {
    background-color: var(--color-frost-0);
    color: var(--color-frost-700);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__result-item {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__result-link {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--color-frost-700);
    text-decoration-line: none !important;
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__result-link:hover {
    background-color: var(--color-frost-100);
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__result-link[aria-selected="true"] {
    background-color: var(--color-frost-100);
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__empty {
    background-color: var(--color-frost-0);
    color: var(--color-frost-700);
    padding: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__keyboard-shortcuts {
    background-color: var(--color-frost-0);
    color: var(--color-frost-700);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__result-icon {
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background-color: var(--color-frost-100);
    color: var(--color-frost-700);
    padding: 0.5rem;
}

.group[aria-selected="true"] .fast-fuzzy-search--newspaper .fast-fuzzy-search__result-icon {
    background-color: var(--color-frost-200);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__result-image {
    margin-right: 1rem;
    height: 2rem !important;
    width: 2rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    -o-object-fit: cover;
       object-fit: cover;
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__chip {
    border-radius: 9999px;
    border: 1px solid var(--color-frost-300);
    background-color: var(--color-frost-100);
    color: var(--color-frost-700);
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    font-weight: 600;
    text-decoration-line: none;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__result-link[aria-selected="true"] .fast-fuzzy-search__result-image {
    background-color: var(--color-frost-200);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__result-link[aria-selected="true"] .fast-fuzzy-search__chip {
    background-color: var(--color-frost-0);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.fast-fuzzy-search--newspaper .fast-fuzzy-search__result-link[aria-selected="true"] .fast-fuzzy-search__result-icon {
    background-color: var(--color-frost-200);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.fast-fuzzy-search__panel-close--newspaper {
    background-color: var(--color-frost-0);
    color: var(--color-frost-700);
    padding: 0.5rem;
}

.fast-fuzzy-search__panel-close--newspaper:hover {
    background-color: var(--color-frost-100);
    color: var(--color-frost-800);
}